.main__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  padding: 30px 15px;
  margin: 0;

  @media (min-width: 720px) {
    font-size: 38px;
    line-height: 50px;
    padding: 39px 25px;
  }

  @media (min-width: 1000px) {
    padding: 40px 25px;
  }
}
